/* ************************ CSS Reset ******************* */
a {
  text-decoration: none;
  display: block;
}
li {
  list-style: none;
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/leadcapture/Vazir-Bold-FD-WOL.woff2") format("woff2"),
    url("/fonts/leadcapture/Vazir-Bold-FD-WOL.woff") format("woff"),
    url("/fonts/leadcapture/Vazir-Bold-FD-WOL.ttf") format("ttf");
}

/* ************************ Style CSS ******************* */
.customer-cm {
  width: 100%;
  height: 600px;
  /* border: 1px solid red; */
  display: flex;
  
  justify-content: center;
  align-items: center;
  
}
.customer-container {
  width: 1124px;
  max-width: 1200px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  position: relative;
}
.customer-title {
  font-family: "vazir";
  font-size: 1.25rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 31.3px;
}
.customer-content {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid purple; */
}
.customer-pic {
  border-radius: 50%;
  height: 127px;
  width: 127px;
  object-fit: cover;
}
.customer-topic {
  /* border: 1px solid green; */
  margin-top: 0.25rem;
  padding: 0;
}
.customer-username {
  display: block;
  font-size: 12px;
  font-weight: 800;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "vazir";
}
.customer-user-detail {
  display: block;
  opacity: 0.5;
  font-size: 12px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "vazir";
}
.customer-rating {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 0.5rem;
  /* border: 1px solid red; */
}
.carousel {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100px;
  margin: 1rem 0;
  /* border: 1px solid red; */
}
.item1 {
  padding: 0;
  width: 80%;
  /* border: 1px solid purple; */
  margin-top: 3%;
  margin-left: 9%;
  font-family: "vazir";
  font-weight: 100;
  font-size: 12px;
  padding: 0 1rem;
  direction: rtl;
}
.fade-quotes-right {
  position: absolute;
  bottom: 9.5%;
  right: 22.75%;
  z-index: 2;
  display: block;
  width: 52px;
  height: 52px;
}
.fade-quotes-left {
  display: block;
  position: absolute;
  width: 52px;
  height: 52px;
  left: 25%;
  bottom: 33%;
  transform: rotate(180deg);
}
.customer-man-pic {
  display: block;
  height: 62px;
  width: 62px;
  border-radius: 50%;
  position: absolute;
  bottom: 16rem;
  left: 10rem;
  object-fit: cover;
}
.circle-1 {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  bottom: 17.5rem;
  left: 14.1rem;
  background-color: rgb(33, 41, 54);
}
.circle-2 {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 9rem;
  left: 18rem;
  background-color: rgb(214, 42, 61);
}
.circle-3 {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 11rem;
  right: 14rem;
  background-color: rgb(214, 42, 61);
}
.customer-pic2{
  display: block;
    height: 62px;
    width: 62px;
    border-radius: 50%;
    position: absolute;
    right: 10rem;
    top: 8rem;
    object-fit: cover;
}
@media screen and (min-width:200px) and (max-width:500px) {
  .customer-cm {
    width: 100%;
    height: 600px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  .customer-container {
    width: 100%;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    position: relative;
  }
  .customer-title{
    font-size: 1.5rem;
    margin-top: -5rem;
  }
  .customer-pic2{
    display: block;
      height: 42px;
      width: 42px;
      border-radius: 50%;
      position: absolute;
      right: 7%;
      top: 20%;
      object-fit: cover;
  }
  .customer-man-pic {
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    position: absolute;
    bottom: 46%;
    left: 14%;
    object-fit: cover;
  }
  .circle-1 {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    bottom: 48%;
    left: 26%;
    
  }
  .circle-2 {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 19%;
    left: 23%;
    
  }
  .circle-3 {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    right: 19%;
    
  }
  .customer-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
  .carousel {
    display: flex;
    flex-wrap: nowrap;
    width: 146%;
    height: 100px;
    margin-top: 1rem;
    justify-content: center;
    /* border: 1px solid red; */
  }
 
  .item1{
    width: 69%;
    /* border: 1px solid blue; */
    font-size: 8px;
    margin: 0;
    margin-top: 1.5rem;
    margin-left: 15%;
  }
  .fade-quotes-right {
    position: absolute;
    bottom: 9%;
    right: 18%;
    display: block;
    width: 32px;
    height: 32px;
    /* border: 1px solid blue; */

  }
  .fade-quotes-left {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 18%;
    bottom: 32%;
    transform: rotate(180deg);
    /* border: 1px solid blue; */

  }

}
@media screen and (min-width:500px) and (max-width:768px) {

  .customer-cm {
    width: 100%;
    height: 600px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    
    /* align-items: center; */
    
  }
  .customer-container {
    width: 100%;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    position: relative;
  }
  .customer-title{
    font-size: 1.5rem;
    margin-top: -5rem;
  }
  .customer-pic2{
    display: block;
      height: 42px;
      width: 42px;
      border-radius: 50%;
      position: absolute;
      right: 17%;
      top: 20%;
      object-fit: cover;
  }
  .customer-man-pic {
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    position: absolute;
    bottom: 56%;
    left: 14%;
    object-fit: cover;
  }
  .circle-1 {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    bottom: 58%;
    left: 20%;
    
  }
  .circle-2 {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 28%;
    
  }
  .circle-3 {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    right: 23%;
    
  }
  .customer-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
  }
  .carousel {
    display: flex;
    flex-wrap: nowrap;
    width: 120%;
    height: 100px;
    margin-top: 1rem;
    justify-content: center;
    
    /* border: 1px solid red; */
  }
 
  .item1{
    width: 75%;
    /* border: 1px solid blue; */
    font-size: 13px;
    margin: 0;
    margin-top: 1rem;
    justify-self: center;
    align-self: center;
    margin-left: 12%;
  }
  .fade-quotes-right {
    position: absolute;
    bottom: 3%;
    right: 21%;
    display: block;
    width: 38px;
    height: 38px;
    /* border: 1px solid blue; */

  }
  .fade-quotes-left {
    display: block;
    position: absolute;
    width: 38px;
    height: 38px;
    left: 20%;
    bottom: 34%;
    transform: rotate(180deg);
    /* border: 1px solid blue; */

  }

}
@media screen and (min-width:768px)  {
  .customer-cm {
    width: 100%;
    height: 600px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
   
    /* align-items: center; */
    
  }

}

