/* ********************* Css Reset **************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "vazir";
  src: url("/fonts/leadcapture/Vazir-Bold-FD-WOL.woff2") format("woff2"),
    url("/fonts/leadcapture/Vazir-Bold-FD-WOL.woff") format("woff")
      url("/fonts/leadcapture/Vazir-Bold-FD-WOL.ttf") format("ttf");
}

/* ********************* Style Css  **************** */

@media screen and (max-width: 768px) {
  .leadcapture {
    width: 100%;
    height: 1028px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 80px;
    position: relative;
    overflow: hidden;
  }
  .right-form-svg {
    display: none;
  }
  .leadbtn{
    width: 230px;
  }
}

#inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#input1,
#input2 {
  width: 400px;
}
.leadSec {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 46px;
}
.leadtitle {
  display: flex;
  justify-self: center;
  width: 410px;
  max-width: 510px;
}
.leadtitle-fade {
  display: flex;
  width: 410px;
  max-width: 550px;
  position: absolute;
  top: 10px;
  font-size: 40px;
  font-weight: 900;
  color: rgb(48, 48, 49, 0.05);
  font-family: "vazir";
  text-align: center;
}
.leadtitle-topic {
  display: flex;
  margin-top: 35px;
  color: rgb(29, 32, 37);
  font-size: 40px;
  align-content: center;
  font-weight: 900;
  font-family: "vazir";
  text-align: center;
}
.desc {
  display: flex;
  width: 100%;
  justify-content: center;
}
.desc p {
  color: rgb(33, 41, 54);
  font-size: 17px;
  font-weight: 700;
  white-space: pre-line;
  font-family: "vazir";
  text-align: center;
  line-height: 55px;
  letter-spacing: 1px;
}
.lead-done-from {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.leadinput {
  display: flex;
  flex-direction: row;
  width: 399px;
  height: 59px;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #d9dbde;
}
.input-sec {
  display: flex;
  width: 359px;
  height: 59px;
}
.leadicon {
  margin-right: 10px;
}
.leadicon i {
  font-size: 1.5rem;
}
.input {
  width: 99%;
  min-height: 22px;
  color: #000;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  z-index: 1;
  bottom: 0.1rem;
  line-height: 2.3;
  caret-color: red;
  margin-right: 8px;
}
.input::placeholder {
  font-size: 1rem;
  font-weight: 100;
  color: #b0b2b5;
  padding-right: 5px;
  font-family: "vazir";
}

.input:focus {
  border: none;
}
.textaria-sec {
  display: flex;
  width: 399px;
  height: 152px;
}
.textaria-sec {
  width: 352px;
  height: 152px;
}
.leadtextaria {
  display: flex;
  align-items: right;
  width: 399px;
  border: 1px solid #d9dbde;
  border-radius: 15px;
}

.btn-form {
  width: 100%;

  display: flex;
  justify-content: left;
  margin-top: 1rem;
}
.leadbtn{
  width: 30%;
}
.left-form-svg {
  position: absolute;
  top: 5rem;
  left: -10rem;
}

  

@media screen and (min-width: 200px) and (max-width: 500px) {
  .leadbtn{
    width: 100%;
  }
  .leadinput {
    width: 90%;
    display: flex;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .leadbtn{
    width: 250px;
  }
}

@media screen and (min-width: 200px) and (max-width: 768px) {
  .leadcapture {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }
  .leadtitle {
    width: 100%;
  }
  .input::placeholder {
    font-size: 0.75rem;
  }
  .leadtitle-topic {
    width: 100%;
    display: flex;
    text-align: center;
    font-family: "vazir";
  }
  .leadtitle-fade {
    position: absolute;
    top: 10px;
    right: 1px;
    display: flex;
    justify-content: center;

    width: 100%;
    text-align: center;
  }
  .leadSec {
    width: 90%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
  }
  .lead-done-from {
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid purple; */
  }
  .leadtextaria {
    width: 100%;
  }
  #inputs {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
  }
  .input-sec {
    display: flex;
    width: 85%;
    justify-content: center;
    /* border: 1px solid red; */
  }
  .leadinput {
    width: 100%;
    display: flex;
  }
 
  #text1 {
    width: 100%;
  }
  #input1,
  #input2 {
    width: 100%;
    display: flex;
  }
}
@media screen and (min-width: 769px) and (max-width: 996px) {
  .leadcapture {
    width: 100%;
    height: 1028px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 80px;
    position: relative;
    overflow: hidden;
  }
  #inputs {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  #icon1,
  #icon2 {
    position: relative;
  }
  #input1,
  #input2 {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-self: left;
    flex-wrap: nowrap;
    align-content: center;
  }
  #text1,
  #text2 {
    width: 150px;
  }
  .right-form-svg {
    display: none;
  }
  .btn-form {
    width: 100%;
  }
  .leadbtn{
    width: 200px;
  }
}
@media screen and (min-width: 997px)  {
  .leadcapture {
    width: 100%;
    max-width: 1124px;
    height: 855px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 80px;
    position: relative;
    right: 1rem;
    left: 1rem;
    overflow: hidden;
  }
  .leadtitle-fade {
    width: 850px;
    max-width: 865px;
    display: flex;
    justify-content: center;
  }
  .leadtitle {
    width: 830px;
    max-width: 865px;
    letter-spacing: 0;
    justify-content: center;
  }
  .leadtitle-topic {
    font-size: 1.75rem;
  }
  #inputs {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  #icon1,
  #icon2 {
    position: relative;
  }
  #input1,
  #input2 {
    width: 357px;
    display: flex;
    flex-direction: row;
    justify-self: left;
    flex-wrap: nowrap;
    align-content: center;
  }
  .leadinput {
    width: 725px;
  }
  .leadtextaria {
    width: 725px;
  }

  .textaria-sec {
    width: 725px;
  }
  .btn-form {
    width: 725px;
    
  }
  #text1,
  #text2 {
    width: 150px;
  }
  .right-form-svg {
    position: absolute;
    width: 127px;
    height: 302px;
    top: 18rem;
    right: 1rem;
    object-fit: cover;
  }
  .leadbtn{
    width: 230px;
  }
}
